[submodule "parsedown"]
	path = web/engine/vendor/parsedown
	url = https://github.com/erusev/parsedown.git

[submodule "parsedown-extra"]
	path = web/engine/vendor/parsedown-extra
	url = https://github.com/erusev/parsedown-extra.git