.r-closing-time {

    background: hex( 'alt-background' );
    
    & > section {
        @include container( true );

        padding-bottom: $normal-spacing;
        padding-top: $normal-spacing;
    }
}