.r-site-navigation {
    @include container( false );
    
    .c-menu {
        @include list--horizontal();
        
        margin-bottom: 0;
    }
    
    a {
        display: inline-block;
        padding-top: $normal-spacing;

        span {
            display: none;
        }

        @media ( min-width: $breakpoint-small ) {
            span {
                display: inline;
            }
        }
    }

    .c-menu__item--home a {
        @include color-to-filter( 'accent' );
        background: url( '../graphic/830.png' ) center center no-repeat;
        background-size: contain;
        border: none;
        display: inline-block;
        margin-bottom: -#{$normal-spacing};
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        width: $large-spacing;
    }

    @media ( min-width: $breakpoint-x-large ) {

        .c-menu__item--home a {
            width: $double-spacing;
        }

    }

    .c-menu__item--active a {
        border: none;
        pointer-events: none;
    }

}

.r-site-navigation--magazine-pages {
    padding: 0;

    .c-menu {
        display: flex;  
    }

    .c-menu__item {
        flex: 1;
        margin: 0 !important;
    }

    a { 
        border: none;
        padding: $normal-spacing;

        span {
            display: inline;
        }
    }
}