.t-art-deco {

    .r-page-wrapper {

        font-family: 'din-2014';
        font-weight: $light;

        h1,
        h2 {
            font-family: 'pinot-grigio-modern';
            font-weight: $light;
        }
    
    }

    .r-page-lead {

        p {
            font-family: 'din-2014-narrow';
        }

    }

}