.t-party {

    .r-page-wrapper {

        h1,
        h2,
        h3 {
            font-family: 'roc-grotesk-extrawide';
        }
        
    }
    
    .r-site-navigation {
        font-weight: $bold;
    }

    .r-page-lead {
        font-family: 'gopher';
    }

}
