.t-website {

    font-family: 'roc-grotesk', sans-serif;

    h1,
    h2 {
        font-family: 'mrs-eaves', serif;
    }

    h3 {
        font-family: 'mrs-eaves-roman-small-caps', serif;
    }

}
