.c-agenda {
    @include list--unstyled();

    &__item {

        &__time {
            display: inline-block;
            width: $double-spacing;
            
        }

        &__title {
           @extend %small-caps;
        }

        &__description {
            padding-left: $double-spacing;
        }

    }

}