.c-site-branding {
    @include color-to-filter( 'accent' );

    background: url( '../graphic/830.png' ) center center no-repeat;
    background-size: contain;
    display: block;
    height: $double-spacing;
    margin-left: $gutter-width;
    width: $double-spacing;

    @media ( min-width: $breakpoint-medium ) {
        height: $x-large-spacing;
        width: $x-large-spacing;
    }
}