@mixin character-in-shape( $background-name: 'light-gray', $shape: 'leaf' ) {
    @extend %headline;

    @if $shape == 'leaf' {
        @include leaf-border-radius( 50% );
    } @else {
        border-radius: 50%;
    }

    background: hex( $background-name );
    color: hex( 'dark-blue' );
    display: inline-block;
    font-size: $normal-spacing;
    font-weight: $bold;
    line-height: $double-spacing;
    text-align: center;
    vertical-align: middle;
    width: $double-spacing;

}